In [1]:
import pandas as pd

In [2]:
#Leitura da Planilha STG_FNT_ITT
df_FNT_ITT = pd.read_excel ('STG_FNT_ITT.xlsx', delimiter = ';')

In [6]:
#Remoção de dados duplicados
def del_duplicates (x):
    x = x.drop_duplicates()
    return x
del_duplicates (df_FNT_ITT)

,ID_STG_FNT_ITT,NUM_CNPJ,NUM_CMP_CNPJ,NOM_COM,NOM_RAZ_SCL,DAT_INC_DBO
0,137,02427884087,2805,NMN,NMN,2019-12-19 13:43:41.914
1,183,12182674487,2635,NMN,NMN,2019-12-19 13:43:41.914
2,197,16167328168,1802,NMN,NMN,2019-12-19 13:43:41.914
3,267,00279925978,2329,NMN,NMN,2019-12-19 13:43:41.914
4,322,20579036860,2397,NMN,NMN,2019-12-19 13:43:41.914
...,...,...,...,...,...,...
1003,87,11901046588,1972,NMN,NMN,2019-12-19 13:43:41.914
1004,105,17765603364,13056,NMN,NMN,2019-12-19 13:43:41.914
1005,118,17765603364,165138,NMN,NMN,2019-12-19 13:43:41.914
1006,124,17765603364,238697,NMN,NMN,2019-12-19 13:43:41.914
1007,125,17765603364,250206,NMN,NMN,2019-12-19 13:43:41.914

In [ ]:
#Completar zeros à esquerda do NUM_CNPJ
df_FNT_ITT['NUM_CNPJ'] = df_FNT_ITT['NUM_CNPJ'].astype(str)
width = 11
df_FNT_ITT["NUM_CNPJ"]= df_FNT_ITT["NUM_CNPJ"].str.zfill(width) 
print (df_FNT_ITT["NUM_CNPJ"])

In [5]:
#Verifica se todos os campos de CNPJs possuem 11 dígitos
all (df_FNT_ITT['NUM_CNPJ'].apply(len) ==11)

True